[package]
name = "io_uring_buf_ring"
version = "0.1.0"
edition = "2021"
rust-version = "1.79.0"

[features]
default = ["bytes"]
bytes = ["dep:bytes"]

[dependencies]
bytes = { version = "1.6.0", optional = true }
io-uring = "0.6.4"
rustix = { version = "0.38.34", features = ["mm"] }
